<% include ./partials/header %>
    <link rel="stylesheet" type="text/css" href="css/squadStyles.css" />
</head>
<body>
    <div class="container">
        <div class="main">
                <div class="center-div">
                        <div class="row">
                            <div class="col-sm head">
                                <h1>Squad Maker</h1>
                                <p>Enter a number and Create your squad! </p>
        
                                <!-- Click here for the <a href="/fingers">Fingers Game</a> -->
                            </div>
                            <div class="col-sm" style="margin-left: 15px">
                                <form action="/" method="post">
                                    <!-- <div class="form-group row">
                                        <label for="playersList" class="col-sm-5">Upload Players List</label>
                                        <div class="col-sm-7">
                                            <input name="playersList" id="playersList" type="file" class="form-control-file" />
                                        </div>
                                    </div> -->
                                    <div class="form-group row">
                                        <label for="squadNbr" class="col-sm-5">Number of Teams</label>
                                        <div class="col-sm-7">
                                            <input name="squadNbr" id="squadNbr" type="number" min="0" max="<%= nbrOfPlayers %>" class="form-control" />
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a href="/"><button class="btn btn-primary">Reset</button></a>
                                </form>
                            </div>
                        </div> 
                
                <div class="row">
                <% if (squads) { var i = 1; %>
                    <%  squads.forEach((squad) => { %>
                            <div class="col-md-6">
                                <div class="table-responsive" id="table-div">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th id="table-squad" colspan="4">Squad <%= i++ %></th>
                                            </tr>
                                            <tr id="th-subtitles">
                                                <th>Player</th>
                                                <th class="table-center">Skating</th>
                                                <th class="table-center">Shooting</th>
                                                <th class="table-center">Checking</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <% squad.forEach((player) => { %>
                                                <% if (player.name !== 'Average') { %>
                                                    <tr>
                                                        <td><%= player.name %></td>
                                                        <td class="table-center"><%= player.skating %></td>
                                                        <td class="table-center"><%= player.shooting %></td>
                                                        <td class="table-center"><%= player.checking %></td>
                                                    </tr>
                                                <% } else { %>
                                                    <tr id='avg-highlight'>
                                                        <td><%= player.name %></td>
                                                        <td class="table-center"><%= player.skating %></td>
                                                        <td class="table-center"><%= player.shooting %></td>
                                                        <td class="table-center"><%= player.checking %></td>
                                                    </tr>
                                                <% }}) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    <% }) %>
                    </div>
                <% } %>
                        <div class="table-responsive" id="table-div">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th id="table-wait" colspan="4">Wait List</th>
                                    </tr>
                                    <tr id="th-subtitles">
                                        <th>Player</th>
                                        <th class="table-center">Skating</th>
                                        <th class="table-center">Shooting</th>
                                        <th class="table-center">Checking</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% waitlist.forEach((player) => { %>
                                    <tr>
                                        <td><%= player.name %></td>
                                        <td class="table-center"><%= player.skating %></td>
                                        <td class="table-center"><%= player.shooting %></td>
                                        <td class="table-center"><%= player.checking %></td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% include ./partials/footer %>